/gin-vue-admin/.idea/
/gin-vue-admin/web/node_modules
/gin-vue-admin/web/dist

/gin-vue-admin/.DS_Store

# local env files
/gin-vue-admin/.env.local
/gin-vue-admin/.env.*.local

# Log files
/gin-vue-admin/npm-debug.log*
/gin-vue-admin/yarn-debug.log*
/gin-vue-admin/yarn-error.log*

# Editor directories and files
/gin-vue-admin/.idea
/gin-vue-admin/.vscode
/gin-vue-admin/*.suo
/gin-vue-admin/*.ntvs*
/gin-vue-admin/*.njsproj
/gin-vue-admin/*.sln
/gin-vue-admin/*.sw?

/gin-vue-admin/server/log/
/gin-vue-admin/server/gva
/gin-vue-admin/server/latest_log

/gin-vue-admin/*.iml
/gin-vue-admin/web/.pnpm-debug.log
/gin-vue-admin/web/pnpm-lock.yaml
